{% extends 'account/base.html' %}


{% block content %}

    <div class="container mb-5">
        <div class="py-5 text-center ">
            <h1 class="text-light"> Tablero KANBAN </h1>
        </div>
    <div class="menu-contenedor">
        <ul>
            {% for tipo in tipos %}
                <li><a class="{% if ruta == tipo.id|toString%} activo {%else%} pruebas? {% endif %}" href="{% url 'mostrarKanban' proyecto_id sprint tipo.id %}">{{ tipo.nombre }}</a></li>
            {% endfor %}
        </ul>
    </div>
        <div class="bg-dark border rounded border-dark ">
            <table class="table table-dark table-hover table-bordered border-muted">
                <thead class="thead-dark">
                <tr>
                    {% for estado in tipo %}

                    <th scope="col">{{ estado }}</th>
                    {% endfor %}
                    <th scope="col">Finalizado</th>
                </tr>
                </thead>
                <tbody>
                    {% for us in uss %}
                        <tr>
                            {% if us.estado == 'Por hacer' %}
                                <td> {{ us.nombre}} <br> Encargado:{{us.miembroEncargado}} <a href="{% url 'cambiarEstadoUS' proyecto_id sprint us.estado us.id %}"
                                        title="Cambiar Estado"
                                        type="button"
                                        class="btn btn-primary"
                                        style="margin-left: 15px;">=></a> <br>Capacidad:{{ us.estimacion }} <br>
                                    <a href="{% url 'listarTareas' proyecto_id sprint us.id %}">TAREAS</a</td>
                                        
                                <td> </td>
                                <td> </td>
                                <td> </td>
                            {% elif us.estado == 'En Proceso' %}
                                <td> </td>
                                <td>{{ us.nombre }} <br>Encargado:{{us.miembroEncargado}}<br> Capacidad:{{ us.estimacion }}<a href="{% url 'cambiarEstadoUS' proyecto_id sprint us.estado us.id %}"
                                        title="Cambiar Estado"
                                        type="button"
                                        class="btn btn-primary">=></a> <br>
                                    <a href="{% url 'listarTareas' proyecto_id sprint us.id %}">TAREAS</a> </td>
                                <td> </td>
                                <td> </td>
                            {% elif us.estado == 'Hecho' %}
                                <td> </td>
                                <td> </td>
                                <td> {{ us.nombre }} <br>Encargado:{{us.miembroEncargado}}<br> Capacidad:{{ us.estimacion }} <br><a href="{% url 'listarTareas' proyecto_id sprint us.id %}">TAREAS</a></td>
                                <td> </td>
                            {% endif %}

                        </tr>
                    {% endfor %}

                </tbody>

            </table>
                    <a href="{% url 'verSprint' proyecto_id %}" type="button" class="btn btn-primary ml-1">Volver al Sprint</a>


        </div>
    </div>
{% endblock %}