{% extends 'account/base.html' %}


{% block content %}

    <div class="container mb-5">
        <div class="py-5 text-center ">
            <h1 class="text-light"> Tablero KANBAN </h1>
        </div>
    <div class="menu-contenedor">
        <ul>
            {% for us in tipos %}
                <li><a href="{% url 'mostrarKanban' proyecto_id sprint us.tipo.id %}">{{ us.tipo.nombre }}</a></li>
            {% endfor %}
        </ul>

    </div>
        <div class="bg-dark border rounded border-dark ">


            <table class="table table-dark table-hover table-bordered border-muted">
                <thead class="thead-dark">
                <tr>
                    {% for estado in tipo %}

                    <th scope="col">{{ estado }}</th>
                    {% endfor %}
                  {#    <th scope="col">Estimación</th> #}
                   {#   <th scope="col">Encargado</th> #}

                </tr>
                </thead>
                <tbody>
                    {% for us in uss %}
                        <tr>
                            {% if us.estado == 'P' or us.estado == 'PP' or us.estado == 'N' %}
                                <td> {{ us.nombre}} <a href="{% url 'cambiarEstadoUS' proyecto_id sprint us.estado us.id %}"
                                        title="Cambiar Estado"
                                        type="button"
                                        class="btn btn-primary">=></a></td>
                                <td> </td>
                                <td> </td>
                            {% elif us.estado == 'EP' %}
                                <td> </td>
                                <td>{{ us.nombre }} <a href="{% url 'cambiarEstadoUS' proyecto_id sprint us.estado us.id %}"
                                        title="Cambiar Estado"
                                        type="button"
                                        class="btn btn-primary">=></a> </td>
                                <td> </td>
                            {% elif us.estado == 'H' %}
                                <td> </td>
                                <td> </td>
                                <td> {{ us.nombre }} </td>
                            {% endif %}

                        </tr>
                    {% endfor %}

                </tbody>

            </table>
                    <a href="{% url 'verSprint' proyecto_id %}" type="button" class="btn btn-primary ml-1">Volver al Sprint</a>


        </div>
    </div>
{% endblock %}