{% extends 'account/base.html' %}


{% block content %}

    <div class="container mb-5">
        <div class="py-5 text-center ">
            <h1 class="text-light"> Sprint Backlog </h1>
        </div>
        <div class="bg-dark border rounded border-dark ">


            <table class="table table-dark table-hover table-bordered border-muted">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Prioridad</th>
                    <th scope="col">Estimación</th>
                    <th scope="col">Encargado</th>

                    <th scope="col">Acción</th>
                </tr>
                </thead>
                <tbody>
                    {% for us in USs %}
                        <tr>
                            <td> {{ us.nombre }} </td>
                            <td> {{ us.tipo }} </td>
                            <td> {{ us.estado }} </td>
                            <td> {{ us.prioridad }} </td>
                            <td> {{ us.estimacion }} </td>
                            <td> {{ us.miembroEncargado }} </td>

                            {# editar #}
                            <td class="text-center">
                                <a href="{% url 'agregarUs_para_Sprint' proyecto_id id_sprint us.id %}" class="btn btn-outline-primary ">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>
                            </td>

                            {# Quitar #}
                            <td style="display: flex; justify-content:center; align-items:center">
                                <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </td>
                              <!-- Modal -->
                              <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content bg-dark">
                                    <div class="modal-body text-white">
                                      Estas seguro que desea eliminar?
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-outline-secondary text-white" data-bs-dismiss="modal">Cancelar</button>
                                      <a href="{% url 'quitarUSsprint' proyecto_id id_sprint us.id %}"><button type="button" class="btn btn-danger">Eliminar</button>
                                      </a>
                                    </div>
                                  </div>
                                </div>
                              </div>

                        </tr>
                    {% endfor %}


                </tbody>


            </table>

            <a href="{% url 'verSprint' proyecto_id %}" type="button" class="btn btn-primary ml-1">Volver al Sprint</a>


        </div>
    </div>
{% endblock %}