{% extends 'account/base.html' %}
{% block content %}
<table class="table table-dark table-hover table-bordered border-muted">

 <thead>
 <tr>
     <th scope="col">Nombre</th>
     <th scope="col">Apellido</th>
     <th scope="col">Correo</th>
     <th scope="col">Carga Horaria</th>
     <th scope="col">Horas Disponibles</th>

 </tr>

 </thead>
 <tbody>

     {% for miembro in miembros %}
         {% if miembro.isActivo %}
             <tr>
                 <td>{{ miembro.usuario.first_name }}</td>
                 <td>{{ miembro.usuario.last_name}}</td>
                 <td>{{ miembro.usuario.email }}</td>
                 <td>{{ miembro.cargahoraria }}</td>
                 <td>{{ miembro.horasDisponibles }}</td>


             </tr>
         {% endif %}
     {% endfor %}
 </tbody>
</table>

    <a href="{% url 'verSprint' proyecto_id %}" type="button" class="btn btn-primary ml-1">Volver al Sprint</a>

{% endblock %}