{% extends 'Proyect_Agile/Proyecto/verProyecto.html' %}
{% block proyectoContent %}
<table class="table table-hover" id="tablaSprint">
            <thead class="thead-dark">{# cabecera de tabla #}
                <tr>
                    {# <th onclick="sortTable(0,'tablaSprint','Numero')" width="15%">Numero</th> #}
                    <th>Fecha inicio</th>
                    <th>Fecha fin</th>
                    <th>Estado</th>
                    {# <th>Acciones</th> #}
                </tr>
            </thead>


            <tbody>

            {% for sprint in sprints %}{# todos los sprints que vienen desde view.py #}
                <tr>

                    <td>{{ sprint.fechainicio }}</td>
                    <td>{{ sprint.fechafin }}</td>
                    <td>

                        {% if sprint.estado == 'P' %}
                            Pendiente
                        {% elif sprint.estado == 'E' %}
                            En curso
                        {% elif sprint.estado == 'F' %}
                            Finalizado
                        {% endif %}
                    </td>
                    <td>
                        <form method="POST" action="">
                            {% csrf_token %}
                            <div class="btn-group">
                                {% if proyecto.estado != 'F' %}
                                    {% if sprint.estado == 'P' %}
                                        <a
                                           title="Ver"
                                           type="button"
                                           class="btn btn-primary">
                                            Agregar Us</a>

                                        <a
                                           type="button"
                                           class="btn btn-primary ml-1">Ver SprintBacklog</a>

                                        <a
                                           type="button"
                                           class="btn btn-primary ml-1">Miembros</a>

                                        {# aca se pasan los parametros que se necesistan en view.py #}
                                        {% if  bandSprint == False %}
                                            <a
                                               title="Editar"
                                               type="button"
                                               class="btn btn-success ml-1">
                                                Empezar Sprint </a>
                                        {% endif %}

                                    {% elif sprint.estado == 'E' %}

                                        <a
                                           type="button"
                                           class="btn btn-primary ml-1">
                                            Kanban</a>

                                        <a
                                           type="button" class="btn btn-primary ml-1">
                                            Burndown Chart</a>

                                        <a
                                           type="button"
                                           class="btn btn-info ml-1">Ver SprintBacklog</a>

                                        <a
                                           type="button"
                                           class="btn btn-info ml-1">Miembros</a>

                                        <a
                                           title="Eliminar" type="button"
                                           class="btn btn-danger ml-1">

                                            Finalizar</a>

                                    {% else %}
                                        <a  title="Kanban"
                                           type="button"
                                           class="btn btn-primary ml-1">
                                            Kanban</a>
                                        <a title="BurndownChart"
                                           type="button" class="btn btn-primary ml-1">
                                            Burndown Chart</a>
                                        <a
                                           type="button"
                                           class="btn btn-primary ml-1">Ver SprintBacklog</a>

                                        <a
                                           type="button"
                                           class="btn btn-primary ml-1">Miembros</a>

                                    {% endif %}
                                {% else %}
                                    <a  title="Kanban" type="button"
                                       class="btn btn-primary ml-1">
                                        Kanban</a>
                                    <a  title="BurndownChart"
                                       type="button" class="btn btn-primary ml-1">
                                        Burndown Chart</a>
                                    <a
                                       type="button"
                                       class="btn btn-info ml-1">Ver SprintBacklog</a>
                                    <a
                                           type="button"
                                           class="btn btn-primary ml-1">Miembros</a>

                                {% endif %}
                            </div>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% if permisos|get_item:'crearSprint' %}
        <div class="mb-3">
            <a class="btn btn-primary"> Planificar Sprint </a>
        </div>
    {% endif %}

{% endblock %}