@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
body {
    background-color: #202529;
    color: #fff;
    font-family: 'Inter', sans-serif;
}

.btn-d {
    color: #fff;
    border-radius: 8px;
    padding: 12px;
    border: none;
    font-weight: bold;
}

.btn-d:hover {
    cursor: pointer;
}

.table a {
    color: #fff;
    text-decoration: none;
}

.table a:hover {
    text-decoration: underline;
}