{% extends 'account/base.html' %}

{% block content %}

    <h1>Bienvenido : {{ usuario.first_name }} {{ usuario.last_name }}</h1>

    <br/>

    <h1>Lista de proyectos</h1>

    <table class="table table-dark table-hover table-bordered border-muted">

        <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Estado</th>
            <th scope="col">ScrumMaster</th>
            <th scope="col">Fecha Inicio</th>
            {% if proyecto.scrumMaste == usuario %}
                <th scope="col">Acción</th>
            {% endif %}



        </tr>

        </thead>
        <tbody>



            {% for proyecto in proyectos %}

                <tr>
                    <td> <a href="{% url 'verproyecto' proyecto.id %}"> {{ proyecto.nombre }} </a>  </td>

                    <td>{{ estados|get_item:proyecto.estado }}</td>
                    <td>{{ proyecto.scrumMaster }}</td>
                    <td>{{ proyecto.fechainicio }}</td>
                    {% if proyecto.scrumMaster == usuario %}
                        {# Boton de editar #}
                        <td class="text-center"> <a href="{%url 'editarproyecto' proyecto.id%}"  class="btn btn-outline-primary "> <i class="fa-solid fa-pen-to-square"> </i> </a> </td>
                    {% endif %}
                </tr>

            {% endfor %}



        </tbody>
    </table>

{% endblock %}