{% extends 'account/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            ERROR AL GUARDAR
        </div>
    {% endif %}
    <div class="container mb-5">

        <!-- escribir aqui -->
        <div class="bg-dark border rounded border-dark p-3">
            <form method="POST">
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Crear Rol</button>
                <a href="{% url 'rolproyecto' proyecto_id %}" type="button" class="btn btn-primary ml-1">Cancelar</a>

                {% csrf_token %}
            </form>
        </div>
    </div>
{% endblock %}
