{% extends 'account/base.html' %}

{% block content %}

    <h1>Bienvenido : {{ usuario.first_name }} {{ usuario.last_name }}</h1>

    <br/>

    <h1>Permisos del Rol : {{ rol.nombre }}</h1>

    <table class="table table-dark table-hover table-bordered border-muted">

        <thead>
        <tr>
            <th scope="col">Permisos</th>
        </tr>

        </thead>
        <tbody>

        {# if the user check the checkbox import the role #}
            {% for permiso in permisos %}

                <tr>
                    <td> {{ permiso }}  </td>
                </tr>
            {% empty %}
                <tr>
                    <td>Este Rol no contiene permisos</td>
                </tr>
            {% endfor %}



        </tbody>
    </table>

    <div class="mb-3">
        <a class="btn btn-primary" href="{% url 'listarRoles' proyecto_id %}" > Volver </a>
    </div>

{% endblock %}