{% extends 'Proyect_Agile/Proyecto/verProyecto.html' %}
{% block proyectoContent %}
<table class="table table-dark table-hover table-bordered border-muted">

 <thead>
 <tr>
     <th scope="col">Nombre</th>
     <th scope="col">Descripcion</th>
     <th scope="col">Permisos</th>
 </tr>

 </thead>
 <tbody>

     {% for rol in roles %}
         <tr>
             <td>{{ rol.nombre }}</td>
             <td>{{ rol.descripcion}}</td>
              {% if proyecto.scrumMaster == usuario %}
                  <td> <a href="{% url 'editarRol' proyecto.id rol.id %}"> Editar </a>  </td>
              {% endif %}
         </tr>

     {% endfor %}

 </tbody>
</table>
    {% if proyecto.scrumMaster == usuario %}
        <div class="mb-3">
            <a class="btn btn-primary" href="{% url 'agregarrol' proyecto.id %}" > Crear Rol </a>
            <a class="btn btn-primary" href="{% url 'listarRolesProyecto' proyecto.id %}" > Importar Rol </a>
        </div>
    {% endif %}

{% endblock %}