{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% load crispy_forms_filters %}

{% block head_title %}{% trans "Iniciar Sesión" %}{% endblock %}

{% block content %}

  <div class="text-center" style="display:flex; justify-content: center; align-items: center ; flex-direction: column ; height: 100%">

  <img src="{% static 'images/Agile.png' %}">

    <h1>{% trans "Iniciar Sesión" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}

    <div class="socialaccount_ballot">

      <div class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </div>
    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>

    {% endif %}

  </div>

{% endblock %}
