{% extends 'account/base.html' %}


{% block content %}

    <div class="container mb-5">
        <div class="py-5 text-center ">
            <h1 class="text-light">{{ us.nombre  }} - {{ us.miembroEncargado }}</h1>
            <h1 class="text-light"> Lista de Tareas </h1>
        </div>
        <div class="bg-dark border rounded border-dark ">


            <table class="table table-dark table-hover table-bordered border-muted">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Duracion</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    {% for tarea in tareas %}
                        <td> {{ tarea.nombre }} </td>
                        {% if tarea.duracion > 1 %}
                            <td> {{ tarea.duracion }} horas</td>
                        {% else %}
                            <td>{{ tarea.duracion }} hora</td>
                        {% endif %}
                        </tr>
                    {% endfor %}

                </tbody>


            </table>
            {% if scrum and us.estado == "Hecho" %}
                <a type="button" class="btn btn-primary ml-1" href="{% url 'revisionUs' idproyecto %}">Ir a la Revision
                    del US</a>
            {% endif %}
            <a href="{% url 'mostrarKanban' idproyecto us.idSprint.id tipo %}" type="button"
               class="btn btn-primary ml-1">Ir al Tablero</a>
            {% if us.estado == "Por hacer" or us.estado == "En Proceso" %}
                {% if us.miembroEncargado.usuario == usuario %}
                    <a href="{% url 'crearTarea' idproyecto us.id %}" type="button" class="btn btn-primary ml-1">Agregar
                        Tarea</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}