{% extends 'account/base.html' %}

{% block content %}

    <h1>Bienvenido : {{ usuario.first_name }} {{ usuario.last_name }}</h1>

    <br/>

    <h1>Revisión de User Stories</h1>

    <table class="table table-dark table-hover table-bordered border-muted">

        <thead>
          <tr>
              <th scope="col">Nombre</th>
              <th scope="col">Lista de Tareas</th>
              <th scope="col" colspan="2">Acción</th>
          </tr>
        </thead>
        <tbody>
        {% for us in USs %}

                <tr>
                    <td> {{ us.nombre }} </td>
                    <td> <a href="{% url 'listarTareas' proyecto_id us.id %}"> Tareas del US </a></td>
                    <td><a href="{% url 'decisionUS' proyecto_id 1 us.id %}"> Aprobar </a> </td>
                    <td><a href="{% url 'decisionUS' proyecto_id 0 us.id %}"> Rechazar </a> </td>

                </tr>

            {% endfor %}



        </tbody>
    </table>

    {% if Administrador %}

     <div class="mb-3">
         <a class="btn btn-primary" href="{% url 'crearproyecto' %}">Crear Proyecto</a>
     </div>
    {% endif %}
{% endblock %}