{% extends 'Proyect_Agile/Proyecto/verProyecto.html' %}
{% block proyectoContent %}
<table class="table table-dark table-hover table-bordered border-muted">

 <thead>
 <tr>
     <th scope="col">Nombre</th>
     <th scope="col">Estados</th>
     <th scope="col" colspan="2" class="text-center">Accion</th>

 </tr>

 </thead>
 <tbody>



     {% for verUS in tiposUS %}
         <tr>
            <td>{{ verUS.nombre }}</td>
            <td>{{ verUS.estado }}</td>
            {# <td>{{ verUS.id }}</td> #}
             <td class="text-center"> <a
                                         class="btn btn-outline-primary ">
                                        <i class="fa-solid fa-pen-to-square"></i> </a> </td>

             <td style="display: flex; justify-content:center; align-items:center">
                            <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                <i class="fa-solid fa-trash"></i> </button> </td>
            {# <td>Editar</td> #}
            {# <td>Eliminar</td> #}
         </tr>
     {% endfor %}



 </tbody>
</table>
    <div class="mb-3">
        <a class="btn btn-primary" href="{% url 'crearTipoUS' proyecto.id %}" > Crear Tipo US </a>
        <a class="btn btn-primary" href="{% url 'listarUSProyectos' proyecto.id %}" > Importar Tipo US </a>
    </div>

{% endblock %}